%h3 Boxe

- @boxes.each do |box|
  .span-8
    %h3= box.title
    %br/
    .box_content_admin
      = raw box.content
    - if can? :update, box
      .notice.actions
        = link_to 'Rediger', edit_admin_box_path(box)