%h3 Boxe

- @boxes.each do |box|
  .span-7
    %h3= link_to box.title, edit_admin_box_path(box)
    %br/
    .box_content_admin
      = raw box.content
    - if can? :update, box
      .notice.actions
        = link_to 'Rediger', edit_admin_box_path(box)