body {
	background-color: #fff;
}

header {
        margin: 0 auto;
        background: url(/images/top_banner.png) repeat-x;
        height: 96px;
        width: 100%px;
}

section {
        margin: 0 auto;
        background: url(/images/center_bg.png) repeat-y;
        width: 894px;
        min-height: 400px;
}

footer {
        background: url(/images/footer_bg.png) repeat-x;
        height: 49px;
        width: 100%px;
}
footer .content {
        padding: 0;
}

/* Default Navigation */
nav ul {
        list-style-type: none;
}
nav ul li {
        display: inline;
}

/* Top Navigation */
header nav {
        float: left;
}
header nav.second {
        float: right !important;
}
/* Menu Navigation */
