body {
  background: #ffffff url(/images/top_banner.png) repeat-x;
  font-family:Arial, Helvetica, sans-serif;
}

header {
  height: 96px;
  width: 930px; }

header #logo {
  background: url(/images/ac_logo.png);
  margin-left: 700px;
  position: absolute;
  width: 131px;
  height: 94px;
  float: right; }

section {
  padding-left: 18px;
  margin: auto;
  padding-top: 20px;
  background: url(/images/center_bg.png) repeat-y;
  width: 894px;
  min-height: 450px; }

footer {
  text-align: center;
  background: url(/images/footer_bg.png) repeat-x;
  height: 35px;
  width: 100%;
  color: #fff;
  padding-top: 15px; 
  margin-bottom: 0}

/* Default Navigation */
nav ul {
  list-style-type: none; }

nav ul li {
  display: inline-block;
  float:left; }

/* HEADER */
/* Top Navigation */
header nav {
  float: left; }
header nav#generic {
  float: right;
}
header nav {
  float:left;
}
header nav a {
  color: #fff;
  text-decoration: none; }

header nav ul {
  display: block; 
  float: left; 
}
header nav ul#top li {
  padding: 40px 5px 0 5px;
}
header nav ul#top li a {
  display: block;
}
header nav ul#top li a:hover {
  color: #fff;
}
header nav ul#top li:hover {
  background: url(/images/btn_background.png) repeat-x;
  height: 50px;
}

header nav ul#top li {
  text-decoration: none; }

header nav ul ul {
  display: none; 
}

header nav ul#top > li > ul > li {
  background: none;
  display: none; }

header nav ul li ul.hover {
  position: absolute;
  display: block;
  margin-top: -3px;
  height: 32px;
  padding: 10px 0 0 10px;
}
header nav ul#top > li > ul.hover > li {
    background: none;
		display: inline;
		/*float: none;*/
}

header nav ul li:hover ul li a {
  color: #000 !important; }

/* SECTION */
section .content {
  width: 800px
}

/* INDEX */
#slider {
  background: url(/images/imgSlider_bg.png);
  width: 854px;
  height: 100px;
  margin-bottom: 20px; }
#slider .arrows {
  margin: 40px 5px auto 5px; }
#slider #arrow_left {
  background: url(/images/imgSlider/arrow_left.png);
  width: 23px;
  height: 21px;
  float: left; }

#slider #arrow_right {
  background: url(/images/imgSlider/arrow_right.png);
  width: 23px;
  height: 21px;
  float: right; }
#slider #first {
  background: url(/images/imgSlider/img100per.png);
  width: 115px;
  height: 77px;
  margin: 10px 30px 0 160px;
  float: left;
}
#slider #second {
  background: url(/images/imgSlider/img15per.png);
  width: 117px;
  height: 79px;
  margin: 10px 30px 0 0;
  float: left;
}
#slider #third {
  background: url(/images/imgSlider/img55per.png);
  width: 117px;
  height: 79px;
  margin: 10px 0 0 0;
  float: left;
}


#bottom {
  background: url(/images/bottom_bg.png);
  width: 861px;
  height: 27px;
  margin-top: 400px; }

  ul.subnav {
  	float: left;
	margin-left: -17px;
	width: 940px;
  }
