<h1>Listing investor_profiles</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investor_profiles.each do |investor_profile| %>
  <tr>
    <td><%= link_to 'Show', investor_profile %></td>
    <td><%= link_to 'Edit', edit_investor_profile_path(investor_profile) %></td>
    <td><%= link_to 'Destroy', investor_profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investor profile', new_investor_profile_path %>
