%h2 Video-arkiv

- @videos.each do |video|
	.video
		%video#movie{:controls => "controls", :height => "240", :width => "320"}
			%source{:src => video.url, :type => "video/mp4"}
		- if can? :manage, video
			.notice.actions
				= link_to 'Slet', video_path(video), :confirm => 'Er du sikker?', :method => :delete