Selskabets formål er at skabe et godt og langsigtet risikojusteret afkast ved brug af allokeringsstrategien fra Advice Capital  ved investering i:

Danske aktier

Globale aktier

Danske statsobligationer

Danske realkreditobligationer

Globale erhvervsobligationer

Finansielle instrumenter, herunder valutaterminskontrakter

Finansieringen til disse investeringer tilvejebringes via:

Egenkapital

Lån i euro, danske kroner og schweizerfranc på maksimalt  1 gang egenkapitalen.

Selskabet har indgået investeringsaftale med Investeringsrådgivningsselskabet Advice Capital, der ledes af Lars Fetterlein. Advice Capital er underlagt Finanstilsynet og selskabet er godkendt som investeringsrådgivere. www.finanstilsynet.dk.

Investeringsrådgivningsselskabet Advice Capital’s honorar er sammensat som delvis fast fee, delvis provision af overskuddet. Fee er 0,10 % af egenkapitalen ultimo hver måned. Provisionen beregnes som 15 % af selskabets overskud før skat. Såfremt selskabet et år giver underskud, medregnes dette i det/de kommende års overskud, førend der på ny udbetales provision.

Lars Fetterlein eller et selskab ejet af Lars Fetterlein, placerer selv midler i selskabet. Formålet er at sikre sammenfaldende interesser med de øvrige aktionærer i selskabet. Incitamentet for et godt langsigtet afkast er således dobbelt, dels igennem ejerskab, dels igennem aflønningsformen.
