.span-22
  %h3 Advice Invest A/S

  %br/

  %h3 Formål

  %p
    Selskabets formål er at skabe et godt og langsigtet risikojusteret afkast ved brug af allokeringsstrategien fra Advice Capital A/S ved investering i:

    Danske aktier
    Globale aktier
    Danske statsobligationer
    Danske realkreditobligationer
    Globale erhversobligationer
    Finansielle instrumenter

    Finansieringen til disse investeringer tilvejebringes via:

    Egenkapital
    Lån i euro, danske kroner og schweizerfranc på max 1 gang egenkapitalen

  %h3 Investeringsfilosofi

  %p
    Fundamentet i investeringsstrategien er Lars Fetterleins mere end 20 års erfaring med praktisk kapitalforvaltning. Erfaringerne kommer til udtryk i en investeringsfilosofi med følgende grundregler:

    Value frem for vækst mindsker udfaldsrummet
    En stærk ledelse i et selskab er nødvendigt for succes ved aktieinvestering
    Præference for en omstruktureringscase
    Forstå virksomhedens forretningsfilosofi og de begivenheder der kan få aktien til at stige
    Fra tid til anden foretage et "sanity"-check - er forventningerne realistiske?
    Forstå makroklimaet - i en global og åben økonomi går næsten alt i interaktion
    Vær loyal mod din position, hvis forudsætningerne ikke har ændret sig
    Vær bredt orienteret, men udvælg færre investeringer og hold fokus herpå
    Tilpas dig markedet - du kan ikke påvirke det
    Vær tilfreds med mindre perioder hvor der ikke er noget at komme efter
    Likvide investeringer åbner for nemmere og billigere ændring af strategi
    De første tab er typisk de billigste

    Alt sammen kan lyde enkelt, men udfordringen kommer specielt i et marked med store udsving og usikkerhed.

    Med 20 års erfaring er processen med at gå tilbage og analysere forudsætningerne, hvad er ændret, hvilke konsekvenser har det, og sikre at der umiddelbart herefter træffes en underbygget investeringsbeslutning.

  %h3 Skat

  %p
    Advice Invest A/S er et investeringsselskab for kollektiv investering, hvilket har den store skattemæssige konsekvens, at selskabet er skattefrit. Beskatning sker hos den enkelte investor. Således sikres det, at der ikke sker dobbeltbeskatning af det optjente overskud. Beskatning sker efter lagerprincip, hvilket betyder, at der betales skat uanset om gevinsten er realiseret eller urealiseret. Beskatningsgrundlaget er stigningen i indre værdi.

    Beskatningen sker i henhold til følgende regelsæt:

    For personer beskattes gevinster som kapitalindkomst, og tab fradrages i kapitalindkomst
    Pension beskattes efter det almindelige lagerprincip for pensionsmidler p.t. 15% p.a.
    For selskaber beskattes gevinster som selskabsindkomst, og tab fradrages i selskabsindkomst