.span-20
  Advice Capital A/S er et dansk kapitalforvaltningsselskab, som har til formål at tilbyde uafhængig formueforvaltning og investeringsrådgivning til private investorer, virksomheder og fonde i hele landet.
  %br/
  %br/
  Selskabet er etableret i 2009 af Lars Fetterlein, som har mere end 20 års investeringserfaring fra såvel Danmark som internationalt. Lars Fetterleins brede baggrund spænder  fra  en stilling som Group Treasurer hos medicinalselskabet H. Lundbeck A/S til corporate og private banking poster hos SEB Bank i London og  Carnegie Bank i København, hertil kommer en position som CFO i formueforvaltningsselskabet Hvista ApS.
  %br/
  %br/
  Selskabet er  godkendt af Finanstilsynet til at yde investeringsrådgivning.
  %br/
  %br/
  Hos Advice Capital A/S fokuserer  vi på, at kundernes formue vokser og forrentes forsvarligt. Vi skal levere økonomisk fremgang og tryghed for,at næste generation er sikret.
  %br/
  %br/
  Vort forretningskoncept er at kunne tilbyde vore kunder et valg mellem ydelser, alt efter hvilken grad af involvering de selv ønsker at have.
  %br/
  %br/
  Vor portefølje strækker sig således fra traditionel investeringsrådgivning til vort investeringsselskab, hvor vi selv investerer på lige fod med andre investorer.
  %br/
  %br/
  Fælles for vore ydelser er, at vi ikke har forkærlighed for én bestemt aktivklasse. Vor success er bygget på en fleksibilitet til at bevæge sig mellem aktier, obligationer, virksomhedsobligationer og valuta.