.span-20
  %h3 Hvilken aftale skal du vælge?
  %p
    %b Individuel investeringsrådgivning:
  %p
    Du tager selv beslutningen efter råd fra os. Konto og depot kan forblive i din nuværende bank. De enkelte værdipapirer vil fremgår af dit depot-udskrift.  Du har tiden og interessen for værdipapirer og værdisætter en løbende dialog omkring alle investeringer. Betalingen er et fast årligt gebyr.
  %p
    %b Investering i  Advice Invest A/S:
  %p
    Det kan tænkes at du har interessen for værdipapirer, men ikke har tiden. Du behøver ikke hele tiden at forholde dig til en investeringsbeslutning, det gør vi for dig. Vi investerer dine penge på samme måde som vi investerer vores egne, da vi alle er aktionærer på lige fod i Advice Invest A/S. Vi tænker langsigtet, og er givet friheden til at sammensætte en portefølje med samtlige aktivklasser. Du modtager ikke løbende fondsnoater, det gør selskabet og du har kun én og samme fondskode i dit depot. Vi er ansvarlige for, at selskabet giver afkast.
  %p
    Minimumsinvesteringen er kr. 1 mio. Du kan opsige aftalen med 3 måneders varsel. Samtlige selskabets dokumenter fremsendes til dig efter anmodning og inden du giver din accept.
  %p
    = link_to 'Fakta om Advice Invest', '#'