.content
  %h2 Kontakt

  %table
    %tr
      %td Navn
      %td
        %input{:type => "field"}
    %tr
      %td Telefon
      %td
        %input{:type => "field"}
    %tr
      %td Firma
      %td
        %input{:type => "field"}
    %tr
      %td Emne
      %td
        %input{:type => "field"}
    %tr
      %td Besked
      %td
        %textarea
