#content
  %h3=t ".title"
  
  %p Dette materiale er udarbejdet af Advice Capital A/S. Advice Capital A/S er et dansk kapitalforvaltningsselskab, der er under tilsyn af Finanstilsynet.
 
  %p Materialet er til personlig orientering for de investorer, som Advice Capital A/S har udleveret materialet til. Materialet er baseret på offentligt tilgængelige oplysninger samt egne beregninger baseret herpå. Advice Capital A/S påtager sig intet ansvar for rigtigheden, nøjagtigheden eller fuldstændigheden af informationerne i materialet. Anbefalinger skal ikke opfattes som tilbud om køb eller salg af de pågældende værdipapirer, og Advice Capital A/S påtager sig intet ansvar for dispositioner foretaget på baggrund af oplysninger i materialet.
 
  %p Oplysninger i materialet om tidligere afkast, simulerede tidligere afkast, fremtidige afkast eller kursudvikling kan ikke anvendes som en pålidelig indikator for fremtidige afkast. Afkast og/eller kursudvikling kan blive negativ. Gevinster kan blive forøget eller formindsket som følge af udsving i valutakurser. Såfremt materialet indeholder oplysninger om en særlig skattebehandling, skal investorer være opmærksomme på, at skattebehandling afhænger af den enkelte investors individuelle situation og kan ændre sig fremover.
 
  %p Såfremt materialet indeholder oplysninger baseret på bruttoafkast, kan gebyrer, provisioner og andre omkostninger påvirke afkastet i nedadgående retning.
 
  %p Materialet kan ikke anvendes som et tilbud om at købe eller sælge et investeringsprodukt.
 
  %p Materialet må ikke mangfoldigøres eller distribueres uden samtykke fra Advice Capital A/S.
