#slider
  #arrow_left.arrows
  #arrow_right.arrows

  #first
  #second
  #third

#content
  .span-8
    %h1 Advice Capital A/S
    .span-7
      Er et dansk kapitalforvaltningsselskab, som
      har til formål at tilbyde uafhængig formueforvaltning og
      investeringsrådgivning til private investor, virksomheder og
      fonde i hele landet.
    %br/
  .span-13
    Selskabet er etableret i 2009 af Lars Fetterlein, som har mere
    end 20 års investeringserfaring fra såvel
    Danmark som internationalt. Lars Fetterlein brede
    baggrund spænder fra en stilling
    som Group Treasurer hos medicinalselskabet H. Lundbeck A/S
    til corporate og private banking poster hos SEB BANK
    i London og Carnegie Bank i København,
    hertil kommer en position som CFO i formueforvaltningsselskabet Hvista ApS.
  .span-12
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis.

  .span-12
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis.
#bottom