#slider
  %div#arrow_left.arrows
  %div#arrow_right.arrows

#content
  .span-8
    .span-4
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis. Cras in nunc in nisi lacinia lacinia nec in metus. Sed interdum adipiscing tincidunt. Etiam a est sit amet arcu hendrerit vestibulum. Sed condimentum hendrerit iaculis.
    .span-4
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis. Cras in nunc in nisi lacinia lacinia nec in metus. Sed interdum adipiscing tincidunt.
  .span-12
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis. Cras in nunc in nisi lacinia lacinia nec in metus. Sed interdum adipiscing tincidunt. 

#bottom