#slider
  #arrow_left.arrows
  #arrow_right.arrows

  #first
  #second
  #third

#content
  .span-8
    .span-8
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .span-8
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .span-12
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis.

  .span-12
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec neque eu ligula vulputate venenatis. Suspendisse congue nulla eu purus elementum in adipiscing odio venenatis.

#bottom
  #span
    %ul
      %li Dantisco 0,1%
      %li Danske Bank -1,2%
      %li Pandora -2,8%
      %li Sydbank -0,2%
      %li Tryg A/S 8,1%
      %li DSV -0,2%
      %li Novo Nordisk 8,1%
      %li A.P.Møller - Mærsk A 0,0%