%h3 Investor Login

%p
  %table
    %tr
      %td

.span-10
  %table
    %tr
      %td Efternavn, Navn:
      %td Hans Jørgen
    %tr
      %td Dato for indtrædelse:
      %td 1.1.11
    %tr
      %td Antal aktier:
      %td 720
    %tr
      %td Evt. depotnr.:
      %td 37

%div{:style=>"float:left;"}= image_tag "chart.gif"

.span-10{:style=>"float:left;"}
  %ul{:style=>"list-style:none"}
    %li
      %u Kontakt
    %li Lars Fetterlein, Managing Partner
    %li= mail_to "lf@advicecapital.dk"
    %li M. +45 2216 4081

.span-20
  .span-10
    Investorkalender. Link til pdf kalender som viser vores events for
    investorer. Eventuelt en mulighed for at tilmelde sig via hjemmesiden,
    som generer en mail til os med reservation på x antal personer

