%h3=t ".title"

%p
  Advice Capital A/S registrerer ingen data, der kan bruges til at identificere dig, med mindre du selv 
  %br/
  tilmelder dig tjenester eller registrerer dig på sitet. Oplysninger du giver i forbindelse med 
  %br/
  registrering behandles med fuld fortrolighed. Advice Capital A/S videregiver eller sælger ingen 
  %br/
  persondata til tredjepart.
%p
  %b Statistik
  %br/
  Med henblik på udvikling og forbedring af websitet indsamler vi løbende statistik om brugernes 
  %br/
  adfærd. Advice Capital A/S anvender udelukkende statistikken i opsummeret form, f.eks. til at se 
  %br/
  hvilke sider og browsere vores brugere anvender mest.