#main_content
	.span-15
		%h3
			%span#page_title
				= raw @page.title if @page

		%p
			#page_content
				= raw @page.content if @page

	.span-5
		.side_box
			.head 
				%h3 Test
			.content
				ldksajkld
				dsa
				dsa
				dsa
				d
				as

		%br/
		%br/

		.side_box
			.head 
				%h3 Test2
			.content
				ldksajkld
				dsa
				dsa
				dsa
				d
				as
