- content_for :pre_body_close do
  :javascript
    var peon_data = []
    $.ajax({
      url: 'employees.json',
      async: false,
      dataType: 'json',
      success: function (json) {
        peon_data = json;
      }
    });

    console.log(peon_data);
    var peon = peon_data

    function slideFlip() {
        peon = peon_data.pop();
        
        $("#employee_image").html('<img src="/assets/employees/'+peon.image+'" height="150px" width="120px" />');
        $("#employee_info").html(peon.name+'<br/>'+peon.title+'<br/>'+'<a href="mailto:'+peon.email+'">'+peon.email+'</a>'+'<br/>'+peon.phone);
        peon_data.unshift(peon);

        $("#employee_image").click(function() {
          $.fancybox({
            'href' : '/assets/employees/'+peon.image,
            'title'   : '<p>'+peon.name+'<br/><br/>'+peon.title+'<br/><br/><a href="mailto:'+peon.email+'">'+peon.email+'</a></p>',
            'titlePosition': 'inside'
          });
        });
    }
    setInterval(slideFlip, 8000);

%h3{:style=>"color:#2b3743;"}= link_to 'Hvem er vi', organisation_path
#employees_index
  #employee_image
  #employee_info