%h3 Seneste nyt om porteføljeselskaber
%ul{:style => "list-style-type: none;padding: 0;"}
  - @news.each do |news|
    %li
      %b= news.created_at.strftime('%d/%m/%y - %H:%M:%S')
      %br/
      = link_to raw(truncate(news.content, :length => 50)), news