%h3 Seneste nyt om porteføljeselskaber
%ul{:style => "list-style-type: none;padding: 0;"}
  - @rss.entries[0,5].each do |rss|
    %li
      %small= rss.pubDate.strftime('%d/%m/%y - %H:%M:%S')
      %br/
      = link_to(truncate(rss.description, :length => 150), rss.link)
      %br/
      %br/