%h3=t ".latest_news_portfolio"
#news_feed
  %ul
    - @rss.entries[0,5].each do |rss|
      %li
        %small= rss.published.strftime('%d/%m/%y - %H:%M:%S')
        %br/
        = link_to(truncate(rss.content, :length => 150), rss.url, :target => "_blank")
        %br/
        %br/