%h3{:style=>"color:#2b3743;"} AdviceTV
%video#movie{:controls => "", :width => "320", :height => "240", :autoplay => "autoplay", :preload => "none", :loop => "loop" }
  /%source{:src => "https://s3.amazonaws.com/advicecapital/000014032708_HDFlashVideo.flv", :type => "video/flv"}
  %source{:src => "", :type => "video/mov"}