%h3{:style=>"color:#2b3743;"} AdviceTV
%video#movie{:controls => "", :width => "320", :height => "240", :autoplay => "autoplay", :preload => "none", :loop => "loop" }
  %source{:src => "", :type => "video/mov"}