.span-20
  %img{:src => '/images/stock2.jpg'}
  %p
    Hos Advice Capital A/S fokuserer vi på, at kundernes formue vokser og forrentes forsvarligt. Vi skal levere økonomisk fremgang og tryghed for, at næste generation er sikret. Vort forretningskoncept er at kunne tilbyde vore kunder et valg mellem ydelser, alt efter hvilken grad af involvering de selv ønsker at have. Vor portefølje strækker sig således fra traditionel investeringsrådgivning til vort investeringsselskab, hvor vi selv investerer på lige fod med andre investorer.
    Fælles for vore ydelser er, at vi ikke har forkærlighed for én bestemt aktivklasse. Vor succes er bygget på en fleksibilitet til at bevæge sig mellem aktier, obligationer, virksomhedsobligationer og valuta.
