.span-20
  %p
    Selskabet er etableret i 2009 af Lars Fetterlein, som har mere end 20 års investeringserfaring fra såvel Danmark som internationalt. Lars Fetterleins brede baggrund spænder fra en stilling som Group Treasurer hos medicinalselskabet H. Lundbeck A/S til corporate og private banking poster hos SEB Bank i London og Carnegie Bank i København, hertil kommer en position som CFO i formueforvaltningsselskabet Hvista ApS.
    Grundlaget for etableringen af Advice Capital er et udtalt behov hos kunder for: 

    Uafhængig rådgivning, som ikke influeres af kurtage betalinger, men som honoreres i.f.t. afkast på investeringen. 

    Interessesammefald mellem kunden og rådgiver 

    Tæt og kontinuerlig relation mellem kunde og en let tilgængelig rådgiver 

    Enkel og transparant prisstruktur, hvor aflønning er relateret til afkastet på den investerede formue