!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hej!
      %br/
      %br/
      Du har modtaget en besked fra:
      = @name + " - " + @sender
      %br/
      = raw @message