/**************** VARS ****************/
  $white: #fff;
  $black: #000;
  $dark-gray: #888;
  $ac-blue: #2b3743;
  $ac-blue2: #1c2732;
  $box-shadow: 0 0 4px 1px #eee;
  $box-dark-shadow: 0 0 4px 2px #888;
  $wrapper-shadow: -8px 0px 10px -2px #eee, 8px 0px 10px -2px #eee;
  $footer-shadow: 0 -4px 4px 1px #eee;

/**************** VARS _END_ ****************/

body {
  background: $white url('top_bannerEXT.png') repeat-x;
  font-family: Arial, Helvetica, sans-serif;
}
#body_background {
  background: url(baggrundsgrafik.png);
  width: 829px;
  min-height: 1086px;
  float: right;
  position: absolute;
  right: 0;
  z-index: -100;
  opacity: .5;
}

/*input[type=submit] {
  border: 2px solid #1a252d;
  color: #fff;
  background: #293742;
  padding: 4px;
}*/

/**************** LINKS ****************/
a:link, a:visited, a:active {
  color: $black;
  text-decoration: none;
  font-weight: none !important;
}
a:hover {
  color: $black;
  background: none !important;
}
a.link_white, .link_white a {
  color: $white;
  font-weight: none !important;
}
/**************** LINKS _END_ ****************/

/**************** Default Navigation ****************/
nav {
  ul {
    list-style-type: none; 
    li {
      display: inline-block;
      float: left; 
    }
  }
}

/**************** HEADER ****************/
header {
  height: 131px;
  width: 100%;
  padding: 0 !important;
  margin: 0;

/**************** HEADER NAVIGATION ****************/
/**************** Top Navigation ****************/

  nav {
    font-weight: bold;

    ul#generic {
      position: absolute;
      right: 0;
      top: 4px;
      width: 300px;
      li {
        display: inline !important;
        padding-right: 6px;
        float: left;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }

    ul#main {
      color: $white;
      font-size: 14px;
      float: left;
      margin-top: 90px;
      height: 13px;

      li {
        margin: 0;
        padding: 10px 10px 3px 8px;
        cursor: pointer;

        a {
          color: $white;
          text-decoration: none;
        }
        a:hover {
          border: none;
        }

        ul {
          li {
            display: none;

            a {
              color: $dark-gray;
            }
          }
        }
      }

      li:hover {
        background: linear-gradient(top, #202C36 21%, #283641 61%);
        background: -o-linear-gradient(top, #202C36 21%, #283641 61%);
        background: -moz-linear-gradient(top, #202C36 21%, #283641 61%);
        background: -webkit-linear-gradient(top, #202C36 21%, #283641 61%);
        background: -ms-linear-gradient(top, #202C36 21%, #283641 61%);
        background-image: linear-gradient(top, #202C36 21%, #283641 61%);
        background-image: -o-linear-gradient(top, #202C36 21%, #283641 61%);
        background-image: -moz-linear-gradient(top, #202C36 21%, #283641 61%);
        background-image: -webkit-linear-gradient(top, #202C36 21%, #283641 61%);
        background-image: -ms-linear-gradient(top, #202C36 21%, #283641 61%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202C36', endColorstr='#283641');

        background-image: -webkit-gradient(
        	linear,
        	left top,
        	left bottom,
        	color-stop(0.21, #202C36),
        	color-stop(0.61, #283641)
        );

        border-top-left-radius: 8px 8px;
        border-top-right-radius: 8px 8px;
        -moz-border-radius-topleft: 8px 8px;
        -moz-border-radius-topright: 8px 8px;
        border-radius: 8px;
        /*background: url('rounded_middle.png') center top repeat-x;*/
        margin: 0;
        padding: 10px 10px 3px 8px;

        behavior: url(/PIE.htc) url(ie-css3.htc) url(border-radius.htc);

        ul {
          padding: 0;
          margin: 0;
          position: absolute;

          li {
            font-size: 12px;
            margin-top: 10px;
            margin-right: 5px;
            padding: 0;
            background: none !important;
            display: inline;

          }
          li:hover {
            background: none !important;
          }
        }
      }
    }
  }
  #logo {
    background: url(whitegiraf_small.png);
    //background: url('ac_logo.png');
    margin: 10px 0 0 900px;
    position: absolute;
    width: 100px;
    height: 100px;
    float: right; 
  }
  #logo_text {
    background: url('advicecapital.png');
    width: 330px;
    height: 33px;
    position: absolute;
    margin: 30px 0 0 30px;
  }

}
/**************** HEADER _END_ *****************/

/**************** SECTION ****************/
.stay-clear{clear:both;}
.container {padding: 0 !important;min-height: 500px;width:1054px;}

#wrapper {
  padding: 20px 10px 10px 20px !important;
  box-shadow: $wrapper-shadow;
  -webkit-box-shadow: $wrapper-shadow;
  -moz-box-shadow: $wrapper-shadow;
  width: 1024px;/*930px;*/
  min-height: 800px;

  #main_content {
    min-height: 800px;

    #content {
      margin: 20px 0 0 0;

      .span-7.colborder, .span-8.colborder  {
        height: 320px;
      }
      .span-8.last {
        height: 320px;
      }
    }
  }
}

#table-wrapper a, #table-wrapper a:hover, #table-wrapper a:visited, #table-wrapper a:active {
  color: $black;
}
/**************** SECTION _END_ ****************/

/**************** FOOTER ****************/
footer {
  text-align: center;
  background: linear-gradient(bottom, rgb(40,54,65) 0%, rgb(34,47,56) 50%, rgb(26,37,46) 75%) repeat;
  background: -o-linear-gradient(bottom, rgb(40,54,65) 0%, rgb(34,47,56) 50%, rgb(26,37,46) 75%) repeat;
  background: -moz-linear-gradient(bottom, rgb(40,54,65) 0%, rgb(34,47,56) 50%, rgb(26,37,46) 75%) repeat;
  background: -webkit-linear-gradient(bottom, rgb(40,54,65) 0%, rgb(34,47,56) 50%, rgb(26,37,46) 75%) repeat;
  background: -ms-linear-gradient(bottom, rgb(40,54,65) 0%, rgb(34,47,56) 50%, rgb(26,37,46) 75%) repeat;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(40,54,65)),
    color-stop(0.5, rgb(34,47,56)),
    color-stop(0.75, rgb(26,37,46)) repeat
  );

  -webkit-box-shadow: $footer-shadow;
     -moz-box-shadow: $footer-shadow;
          box-shadow: $footer-shadow;
  /*background: url('footer_bg.png') repeat;*/
  position: fixed;
  height: 75px;
  width: 100%;

  .content {
    height: 20px;
    clear: both;
    padding-top: 20px;
    color: $white;
  }
}
/**************** FOOTER _END_ ****************/

.ui-datepicker-calendar, ui-datepicker-title, ui-datepicker-header, ui-datepicker-div {
  background: #C3D9FF; 
}
#employees_slider {
  border: 1px solid #888;
  width:1000px;
  height:400px;
  background:#eee;
}
#employees_index {
  float: left;
  height: 150px;
  background: none;

  #employee_image {
    float: left;
    margin-right: 20px;
  }
  #employee_info {
    font-weight: none !important;
    float: right;
    width: 150px;
  }
}
.employee_info {
  display: none;
}

.sub_pages {
  -moz-box-shadow: $box-dark-shadow;
  -webkit-box-shadow: $box-dark-shadow;
  box-shadow: $box-dark-shadow;
  position: fixed;
  top: 140px;
  left: 0px;  
  width: 180px;
  height:auto;
  margin: 10px 0 10px 10px;

  .head {
    width: 180px;
    height: 20px;

    img {
      float:left;
      margin: 6px 0 0 6px;
    }
    h3 {
      margin: 6px 0 0 6px;
      float: left;
      width: 120px;
      color: $ac-blue;
    }
  }

  .content {
    margin: 20px 0 0 0;

    div {
      border-bottom: 1px dotted #000;
      width: 174px;
      min-height: 20px;
      float: left;
      padding: 6px 0 6px 6px;
      text-align: left;

      a {
        font-size: 12px;
        text-align: left;
      }
      a:active {
        color: #fff;
      }
    }

    .sub_page_selected {
      background: $ac-blue2;
      color: #fff;

      a {
        color: #fff;
      }
    }

    div:hover {
      background: $ac-blue2;
      color: #fff;

      a {
        color: #fff;
        background: $ac-blue2;
      }
    }
  }
}
.organisation_box {
  -moz-box-shadow: $box-dark-shadow;
  -webkit-box-shadow: $box-dark-shadow;
  box-shadow: $box-dark-shadow;
  position: fixed;
  top: 400px;
  left: 0px;
  width: 180px;
  min-height: 200px;
  padding: 10px;
  margin: 20px 0 0 10px;

  ul.employee_names {
    list-style-type: none;

    li {
      float: none;
      a {
        font-size: 16px;
        color: $black;
      }
    }
    li:hover {
      cursor: pointer;
    }
  }
}
.admin_box, .investor_box {
  -moz-box-shadow: $box-dark-shadow;
  -webkit-box-shadow: $box-dark-shadow;
  box-shadow: $box-dark-shadow;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  min-height: 40px;
  margin: 10px 0 10px 20px;

  ul {
    margin: 4px 8px 0 0;
    list-style-type: none;

    li {
      margin: 0;
      a {
        color: $white;
      }
    }
  }
}
/* INDEX PAGE */
#bottom {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  background: #eaebed;
  width: 1014px;
  height: 45px;
  padding: 0 !important;
  text-align: center;
  margin: 10px 0 0 0;

  #stocks {
    padding-top: 4px;
    width: 1000px !important;
    height: 45px !important;

    ul {
    list-style-type: none;
      li {
        display: inline-block;
      }
    }
  }
}
.employeeInfo {
  display: none;
}
.actions {
  height: 20px;
  width: 120px;
  text-align:center;
}
#news_feed {
  height: 220px;

  ul {
    list-style-type: none;
    padding: 0;
  }
}
/* Error Messages */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: $white;
  }
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background: #c00;
    color: $white;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 10px;
  }
  ul {
    margin-top: 10px;
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}
/* ERROR MESSAGES _END_ */


.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: 60px 0 0 200px;
  width:800px;
  height:250px;
}
.roundabout-moveable-item {
  width:400px;
  height:250px;
  cursor: pointer;
}
.roundabout-in-focus {
  cursor: auto;
}
#user_administration {
  float: left;
  margin: 0 0 20px 0;
  
  .span-3 {
    text-align: center;
  }
}
#investment {
  float:left;

  .span-3 {
    text-align: center;
  }
}
#generic {
  float: left;
  margin: 0 0 20px 0;
  .span-3 {
    text-align: center;
  }
}
table.investors th, table.investors td {
  text-align:center;
}
