body {
  background: #fff url('top_bannerEXT.png') repeat-x;
  font-family:Arial, Helvetica, sans-serif;
}

/* LINKS */
a, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: none;
}
a.link_black {
  color: #000;
}
/* LINKS _END_ */

/* HEADER */
header {
  height: 150px;
  width: 930px; 

  /* HEADER NAVIGATION */
  /* Top Navigation */

  nav {
    ul#generic {
      float: right;
      margin-top: 70px;
      li {
        padding-right: 4px;
        a {
          text-decoration: none;
        }
      }
    }
    ul#main {
      float: left;
      margin-top: 20px;

      li {
        cursor: pointer;
        height: 70px;
        padding: 70px 5px 2px 5px;

        a {
          text-decoration: none;
          height: 48px;
        }
        a:hover {
          color: #fff;
        }

        ul {
          li {
            background: none;
            display: none;

            a {
              color: #000;
            }
          }
        }
        ul.hover {
          position: absolute;
          display: inline-block;
          padding: 10px 0 0 20px;
          
          li {
            display: inline-block;
          }
        }
      }
      li:hover {
        background: url('btn_background.png') repeat-x;
        height: 70px;
      }
    }
    
  }
  #logo {
    background: url('ac_logo.png');
    margin-left: 400px;
    margin-top: 5px;
    position: absolute;
    width: 131px;
    height: 94px;
    float: right; 
  }
  #search_button {
    border: 1px solid #1c2831;
    background: #283641;
    color: #fff;
  }
  #search_field {
    border: 1px solid #283641;
    background: #fff;
    color: #000;
  }
}
/* HEADER _END_ */

/* SECTION */
#wrapper {
  padding-top: 40px;
  padding-left: 10px;
  background: url('center_bg.png') repeat-y;
  width: 894px;
  margin: 0;

  #main_content {
    min-height: 300px;
  }
}
/* SECTION _END_ */

/* FOOTER */
footer {
  text-align: center;
  background: url('footer_bg.png') repeat-x;
  height: 35px;
  width: 100%;
  color: #fff;
  padding-top: 15px;
}
/* FOOTER _END_ */

/* Default Navigation */
nav {
  ul {
    list-style-type: none; 
    li {
      display: inline-block;
      float:left; 
    }
  }
}
.slider {
  background: url('imgSlider_bg.png');
  min-width: 854px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 20px; 
  
  #slider_content {

    ul {
      width: 600px;
      list-style: none;
      display: inline-block;
      float: left;

      li {
        float: left;
        margin-right: 20px;

        img {
          width: 115px;
          height: 77px;
        }
      }
    }
  }
  .arrows {
    clear: both;
    width: 23px;
    height: 90px;
  }
  .arrow_left {
    background: url('imgSlider/arrow_left.png');
    width: 23px;
    height: 21px;
    float: left; 
  }

  .arrow_right {
    background: url('imgSlider/arrow_right.png');
    width: 23px;
    height: 21px;
    float: right; 
  }
  .arrows:hover {
    cursor: pointer;
  }
}
.slider_custom {
  width: 854px !important;
  min-height: 100px;
  margin-left: 5px;
  margin-bottom: 20px;

  .slider_top {
    background: url('slider_bg_top.png');
    height: 1px;
    width: 854px;
  }
  .slider_center {
    background: url('slider_bg_center.png') repeat-y;
    min-height: 100px;
    width: 854px;
  }
  .slider_bottom {
    background: url('slider_bg_bottom.png');
    height: 1px;
    width: 854px;
  }
  ul.employee_images {

    li {
      margin-top: 6px;
      margin-left: 6px;
      
      img {
        cursor: pointer;
      }
    }
  }

  ul.employees {
    li {
      margin: 4px !important;
      margin-right: 10px !important;

      img {
        width: 115px;
        height: 128px;
      }
    }
  }

  ul.employees_info {
    display: none;
    list-style: none;
  }
}


.news_ticker ul {
  list-style: none;
}

.submenu_box {
  position: fixed;
  top: 10;
  left: 0;
  width: 120px;
  height: 200px;
  border: 1px solid gray;
  margin-left: 50px;
  padding: 5px;
}
.organisation_box {
  position: fixed;
  top: 10;
  left: 0;
  width: 120px;
  height: 200px;
  border: 1px solid gray;
  margin-left: 20px;

  ul {
    li:hover {
      cursor: pointer;
    }
  }

  ul.employee_names {
    li {
      float: none;
      a {
        color: #000;
      }
    }
  }
}
#bottom {
  background: url('bottom_bg.png');
  width: 861px;
  height: 27px;
  margin-bottom:4px;
  margin-top: 400px;

  ul {
    padding-top: 4px;
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
}


.employeeInfo {
  display: none;
}


/* Error Messages */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul {
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}