%footer
  .content
    Advice Capital A/S &middot; Strandvejen 100 &middot; 2900 Hellerup &middot; T +45 3930 6080 &middot; F +45 3930 6081 &middot; info@dvicecapital.dk &middot;
    %a{:href => "/disclaimer"} 
      Disclaimer