%footer
  .content
    Advice Capital A/S &middot; Strandvejen 100 &middot; 2900 Hellerup &middot; T +45 3930 6080 &middot; F +45 3930 6081 &middot;
    %a{:href => "mailto: info@advicecapital.dk", :class => "link_white"} info@advicecapital.dk
    &middot;
    = link_to "Disclaimer", '/disclaimer', :class => "link_white"