%header

  %nav
    %ul
      %li Om Advice Capital
      %li Organisation
      %li Bliv kunde
      %li Investeringsunivers
      %li Nyheder
      %li Investor login

  %nav.second
    %ul
      %li= link_to 'Forside', root_path
      %li= link_to 'Kontakt', contact_path
      %li
      /= text_field :search_field