/[if lt IE 9]
    %script { :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
= stylesheet_link_tag 'blueprint/screen', :media => 'screen'
= stylesheet_link_tag 'blueprint/print',  :media => 'print'
= stylesheet_link_tag 'style.css', :media => 'screen'
/= stylesheet_link_tag 'stylesheets/screen', :media => 'screen'
/= stylesheet_link_tag 'stylesheets/print', :media => 'print'
= stylesheet_link_tag 'main', :media => 'screen'
/[if lt IE 8] <haml:loud> stylesheet_link_tag 'blueprint/ie' </haml:loud>